modules = ["nodejs-20", "web", "bash"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25544
externalPort = 3001

[deployment]
deploymentTarget = "cloudrun"
